<mat-toolbar color="primary" class="toolbar-container">
  <span class="h1 text-light">SpotBot Portfolio</span>
</mat-toolbar>

<mat-toolbar color="primary" class="nav-toolbar elevation-2" fxLayout="row" fxLayoutGap="8px">
  <button mat-button class="mat-button" routerLink="/exchange">
    <span class="lead">Exchange</span>
  </button>
  <button mat-button class="mat-button" routerLink="/trailing-trades">
    <span class="lead">Trade</span>
  </button>
  <button mat-button class="mat-button" routerLink="/growth-trader">
    <span class="lead">Growth Trader</span>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>