<mat-card style="margin: 20px; padding: 20px;">
  <mat-card-title style="margin-bottom: 20px">
    KuCoin API Credentials
    <hr>
  </mat-card-title>
  <mat-card-content fxLayout="column" fxLayoutAlign="start">
    <div fxLayout="row wrap">
      <div class="input" fxFlex="100">
        <app-text-box
          [Label]="'API Public key'"
          [Placeholder]="'Enter your API Public Key'"
          [Masked]="false"
          [IsValid]="Model.Exchange.Validations.ApiPublicKey.IsValid"
          [Error]="Model.Exchange.Validations.ApiPublicKey.Message"
          [(Value)]="Model.Exchange.ApiPublicKey">
        ></app-text-box>
      </div>
      <div class="input" fxFlex="100">
        <app-text-box
          [Label]="'API Private Key'"
          [Placeholder]="'Enter your API Private Key'"
          [Masked]="false"
          [IsValid]="Model.Exchange.Validations.ApiPrivateKey.IsValid"
          [Error]="Model.Exchange.Validations.ApiPrivateKey.Message"
          [(Value)]="Model.Exchange.ApiPrivateKey">
          ></app-text-box>
      </div>
      <div class="input" fxFlex="100">
        <app-text-box
          [Label]="'API Key Passphrase'"
          [Placeholder]="'Enter your API Key Passphrase'"
          [Masked]="false"
          [IsValid]="Model.Exchange.Validations.ApiKeyPassphrase.IsValid"
          [Error]="Model.Exchange.Validations.ApiKeyPassphrase.Message"
          [(Value)]="Model.Exchange.ApiKeyPassphrase">
          ></app-text-box>
      </div>
      <div class="input" fxFlex="100">
        <app-text-box
          [Label]="'API Version'"
          [Placeholder]="'Enter the API Version'"
          [Masked]="false"
          [IsValid]="Model.Exchange.Validations.ApiVersion.IsValid"
          [Error]="Model.Exchange.Validations.ApiVersion.Message"
          [(Value)]="Model.Exchange.ApiVersion!">
          ></app-text-box>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions fxLayoutAlign="end" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="end">
      <button
        mat-raised-button
        color="primary"
        (click)="Interactions.TestConnectionButtonClicked()">
        Test Connection
      </button>
      <button
        style="margin-left: 10px"
        mat-raised-button
        color="primary"
        [disabled]="!Model.IsValid()"
        (click)="Interactions.SaveButtonClicked()">
        Save
      </button>
    </div>
    <mat-card *ngIf="Model.Tested && !Model.TestResult" class="test-result-card test-failed">
      <mat-card-content>
        <mat-icon color="warn" class="test-result-icon">error</mat-icon>
        <span class="test-result-icon"><strong> Test Failed: </strong> {{ Model.TestErrorResult }}</span>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="Model.Tested && Model.TestResult" class="test-result-card test-successful">
      <mat-card-content>
        <mat-icon color="primary" class="test-result-icon">check_circle</mat-icon>
        <span class="test-result-icon"><strong> Test Successful!</strong></span>
      </mat-card-content>
    </mat-card>
  </mat-card-actions>
</mat-card>
