<mat-card style="margin: 20px; padding: 20px;">
  <mat-card-title style="margin-bottom: 20px">
    KuCoin API Credentials
  </mat-card-title>
  <mat-card-content fxLayout="column" fxLayoutAlign="start">
    <div fxLayout="row wrap">
      <div fxFlex="100">
        <mat-form-field fxFlexFill>
          <mat-label>API Public Key</mat-label>
          <input matInput placeholder="Enter your API Public Key" [(ngModel)]="Data.Exchange.ApiPublicKey">
        </mat-form-field>
      </div>
      <div fxFlex="100">
        <mat-form-field fxFlexFill>
          <mat-label>API Private Key</mat-label>
          <input matInput placeholder="Enter your API Private Key" [(ngModel)]="Data.Exchange.ApiPrivateKey">
        </mat-form-field>
      </div>
      <div fxFlex="100">
        <mat-form-field fxFlexFill>
          <mat-label>API Passphrase</mat-label>
          <input matInput placeholder="Enter your API Passphrase" [(ngModel)]="Data.Exchange.ApiKeyPassphrase">
        </mat-form-field>
      </div>
      <div fxFlex="100">
        <mat-form-field fxFlexFill>
          <mat-label>API Version</mat-label>
          <input matInput placeholder="Enter your API Version" [(ngModel)]="Data.Exchange.ApiVersion">
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions fxLayoutAlign="end" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="end">
      <button
        mat-raised-button
        color="primary"
        (click)="Interactions.TestConnectionButtonClicked()">
        Test Connection
      </button>
      <button
        style="margin-left: 10px"
        mat-raised-button
        color="primary"
        (click)="Interactions.SaveButtonClicked()">
        Save
      </button>
    </div>
    <mat-card *ngIf="Data.Tested && !Data.TestResult" class="test-result-card test-failed">
      <mat-card-content>
        <mat-icon color="warn" class="test-result-icon">error</mat-icon>
        <span class="test-result-icon"><strong> Test Failed: </strong> {{ Data.TestErrorResult }}</span>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="Data.Tested && Data.TestResult" class="test-result-card test-successful">
      <mat-card-content>
        <mat-icon color="primary" class="test-result-icon">check_circle</mat-icon>
        <span class="test-result-icon"><strong> Test Successful!</strong></span>
      </mat-card-content>
    </mat-card>
  </mat-card-actions>
</mat-card>
